#aakash-avatar {
  border-radius: 20%;
  height: 170px;
  width: 150px;
}

.center-skills-aakash {
  display: block;
  margin-left: auto;
  margin-right: 70px;
  width: 60%;
}

#pipes {
  display: block;
  margin-left: -30px;
  margin-top: -140px;
  margin-bottom: -100px;
  margin-right: auto;
  width: 110%;
}
